.modal {
    border-style: solid;
    background-color: lightgray;
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 10%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 20%);
    grid-template-rows: repeat(5, 15%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.child {
    margin-bottom: 15%;
}

.model { grid-area: 1 / 1 / 2 / 2; }
.model-input { grid-area: 1 / 2 / 2 / 3; }
.manufacturer { grid-area: 2 / 1 / 3 / 2; }
.manufacturer-input { grid-area: 2 / 2 / 3 / 3; }
.height { grid-area: 3 / 1 / 4 / 2; }
.height-input { grid-area: 3 / 2 / 4 / 3; }
.width { grid-area: 4 / 1 / 5 / 2; }
.width-input { grid-area: 4 / 2 / 5 / 3; }
.length { grid-area: 5 / 1 / 6 / 2; }
.length-input { grid-area: 5 / 2 / 6 / 3; }